// Setup 
@import "base/variables";
@import "base/fonts";
@import "base/mixins";
@import "base/placeholders";
@import "base/globals";

// Vendor 
@import '~bootstrap/scss/bootstrap';

// Components 
@import "components/buttons";
@import "components/forms";
@import "components/sliders";

// Layout 
@import "partials/header";
@import "partials/footer";

// Pages 
@import "pages/homepage";