//
// Project Name Color palette
//

$blue:    #15c0f2 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #ee3d3c !default;
$orange:  #fd7e14 !default;
$yellow:  #fff101 !default;
$green:   #cadb2a !default;
$teal:    #20c997 !default;
$cyan:    #8dd7f7 !default;
 