// Homepage style

main.homepage {
    .list-group {
        position: sticky;
        top: .75rem;
        max-height: calc(100vh - 1.5rem);
        overflow-y: auto;
        margin-bottom: 1rem;

        .list-group-item {
            color: $black;

            &:nth-child(even) {
                background-color: $info;
            }

            &:nth-child(odd) {
                background-color: $primary;
            }
        }
    } 

    section {
        margin-bottom: 1rem;

        .title {
            padding: 1rem;
            font-size: 2.5rem;
            background-color: $danger;
            border: 1px solid $black;
        }
    }
}